/* Smartphones (portrait) */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
    .header .top {
        flex-direction: column-reverse;
    }

    .team .team-members {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mission .sub-container .content {
      padding-right: 0px;
    }

    .header .top > * {
      margin-bottom: 2vh;
    }

    .header .top .logo {
      margin-top: 5vh;
    }

    .products .our-products {
      flex-direction: column;
  }

}

/* Smartphones (landscape) */
@media only screen and (max-device-width : 768px) {
    .header .container .sub-container .isometric {
      display: none;
    }

    .header .top > span {
      margin-right: 0px;
    }

    .header .social-links > * {
      line-height: 50px;
  }

    .header .top .mailto {
      margin-right: 0px;
    }

    .header .top .join-us {
      margin-right: 7px;
    }

    .header .social-links > a {
      margin: 0px 5px;
    }

    .header .top .mailto .mailto-text,
    .header .top .join-us .join-us-text {
      display: none;
    }

    section,
    .container,
    .partners .container {
      padding: 10px 0px;
    }

    .container {
      margin: 0px 5%;
    }

    .partners .container,
    .work .container .facilitate,
    .mission .sub-container .content,
    .join-us .container {
        flex-direction: column;
    }

    .products {
      flex-direction: column-reverse;
    }

    .container,
    .team .container p {
      text-align: justify;
    }

    .mission .sub-container .content {
      padding-right: 0px;
    }

    .mission .values img {
      max-width: 50vw;
    }

    .mission .sub-container .content > div:first-child,
    .mission .sub-container .content > div:last-child {
      padding: 0px;
    }

    .products {
      align-items: center;
    }

    .products .our-products .product {
      padding: 20px;
    }

    .products .fil-ariane {
      display: none;
    }

    .products .lets-go {
      margin-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }

    .products .lets-go h2,
    .products .lets-go h3 {
      display: block;
      text-align: center;
    }

    .products .lets-go h3:after {
      display: none;
    }

    .header {
      background: linear-gradient(-45deg, #3757B7, #3757BF 0%, #78308A 54%, #5A1A6A 100%);
    }

}


/* Tablette (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .header .container .content {
        width: 80%;
    }

    .mission .content {
        text-align: justify;
    }

    section {
        padding: 0px;
    }

    section.container,
    section .container {
        margin: 0px 10%;
    }

    #main-more {
        padding-left: 10%;
    }

    .products .lets-go {
      flex: 3;
    }

    .products .our-products {
      flex-direction: column;
    }
}

/* Tablette (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    section.container,
    section .container {
        margin: 0px 10%;
    }

    .mission .content {
        text-align: justify;
    }

    .header,
    .header .container,
    .header .container .content,
    .header .decentralized-mask-bg {
        height: 50vh;
    }

    .header .container .content {
        width: 80%;
    }

    .team .container {
        margin: 0 5% !important;
    }

    .team .container p {
        margin: 0 5%;
    }

    section {
        padding: 0px;
    }

    .products .lets-go {
      flex: 3;
    }

}
