@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.ttf');
    font-weight: 600;
}